<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="geolocate()">Dove sono?</ion-button>
  <pre>
    {{coords | json}}
  </pre>
  <ion-button (click)="photo()">Foto!</ion-button>
  <img *ngIf="base64Image" [src]="base64Image" width="320" alt="foto">

  <ul>
    <li *ngFor="let doc of documents">
      <img width="32" [alt]="doc._id" [src]="'data:image/jpeg;base64,'+ doc._attachments['photo.jpg'].data"> {{doc.lat}}
      -
      {{doc.lng}}
    </li>
  </ul>

  <ion-button (click)="upload()">Upload</ion-button>
</ion-content>